<footer class="footer">
  <div class="container">
    <p>
      <strong>
        <a href="https://github.com/hooopo/petri_flow" target="_blank" rel="nofollow">Petri Flow</a>
      </strong>
      crafted by <a href="https://github.com/hooopo" target="_blank" rel="nofollow">Hooopo</a>.
      The source code is licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.
    </p>
  </div>
</footer>
